In [32]:
#import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [33]:
#path creation
path=r"C:\Users\galia\OneDrive\Escritorio\DA course\6.1\Data"

In [34]:
#Import boats data
df_boats=pd.read_csv(os.path.join(path,"boat_data.csv"))

In [35]:
#df check
df_boats.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [36]:
# checkimg shape
df_boats.shape

(9888, 10)

In [37]:
# spliting price column into currency and price
df_boats[['Currency', 'price']] = df_boats["Price"].str.split(" ", 1, expand=True)

C:\Users\galia\AppData\Local\Temp\ipykernel_26604\695790903.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_boats[['Currency', 'price']] = df_boats["Price"].str.split(" ", 1, expand=True)

In [38]:
df_boats.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,price
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3337
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3770
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,25900
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399

In [39]:
#checking missing data
df_boats.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Type                              6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
Currency                          0
price                             0
dtype: int64

##### Missing data on Manufacturer, Material and Location

In [40]:
#duplicates
df_dups = df_boats[df_boats.duplicated()]

In [41]:
df_dups

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Location, Number of views last 7 days, Currency, price]
Index: []

#### no duplicates

In [42]:
#separating location column into country and city
df_boats[['Country', 'city']] = df_boats["Location"].str.split("Â»", 1, expand=True)

C:\Users\galia\AppData\Local\Temp\ipykernel_26604\1528943417.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_boats[['Country', 'city']] = df_boats["Location"].str.split("Â»", 1, expand=True)

In [43]:
df_boats.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days,Currency,price,Country,city
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3337,Switzerland,Lake Geneva Â» VÃ©senaz
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490,Germany,BÃ¶nningstedt
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3770,Switzerland,Lake of Zurich Â» StÃ¤fa ZH
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64,DKK,25900,Denmark,Svendborg
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399,Germany,Bayern Â» MÃ¼nchen

### Droping unused columns

In [44]:
#Droping location column
df_1=df_boats.drop(columns = ['Location'])

In [45]:
#droping price
df_2=df_1.drop(columns = ['Price'])

In [46]:
#droping city
df_21=df_1.drop(columns = ['city'])

In [47]:
#droping manufacturer
df_211=df_21.drop(columns = ['Manufacturer'])

In [48]:
df_2111=df_211.drop(columns = ['Material'])

In [49]:
df_boat_c=df_2111

In [50]:
df_boat_c.head()

,Price,Boat Type,Type,Year Built,Length,Width,Number of views last 7 days,Currency,price,Country
0,CHF 3337,Motor Yacht,new boat from stock,2017,4.00,1.90,226,CHF,3337,Switzerland
1,EUR 3490,Center console boat,new boat from stock,2020,4.00,1.50,75,EUR,3490,Germany
2,CHF 3770,Sport Boat,new boat from stock,0,3.69,1.42,124,CHF,3770,Switzerland
3,DKK 25900,Sport Boat,new boat from stock,2020,3.00,1.00,64,DKK,25900,Denmark
4,EUR 3399,Fishing Boat,new boat from stock,2019,3.55,1.46,58,EUR,3399,Germany

In [52]:
df_boat=df_boat_c.drop(columns = ['Price'])

In [53]:
df_boat.head()

,Boat Type,Type,Year Built,Length,Width,Number of views last 7 days,Currency,price,Country
0,Motor Yacht,new boat from stock,2017,4.00,1.90,226,CHF,3337,Switzerland
1,Center console boat,new boat from stock,2020,4.00,1.50,75,EUR,3490,Germany
2,Sport Boat,new boat from stock,0,3.69,1.42,124,CHF,3770,Switzerland
3,Sport Boat,new boat from stock,2020,3.00,1.00,64,DKK,25900,Denmark
4,Fishing Boat,new boat from stock,2019,3.55,1.46,58,EUR,3399,Germany

In [55]:
df_boat.shape

(9888, 9)

In [56]:
df_boat.isnull().sum()

Boat Type                       0
Type                            6
Year Built                      0
Length                          9
Width                          56
Number of views last 7 days     0
Currency                        0
price                           0
Country                        36
dtype: int64

In [57]:
#removing missing values
df_boat.dropna(inplace = True)

In [58]:
df_boat.isnull().sum()

Boat Type                      0
Type                           0
Year Built                     0
Length                         0
Width                          0
Number of views last 7 days    0
Currency                       0
price                          0
Country                        0
dtype: int64

In [59]:
df_boat.shape

(9790, 9)

In [61]:
df_boat.head()

,Boat Type,Type,Year Built,Length,Width,Number of views last 7 days,Currency,price,Country
0,Motor Yacht,new boat from stock,2017,4.00,1.90,226,CHF,3337,Switzerland
1,Center console boat,new boat from stock,2020,4.00,1.50,75,EUR,3490,Germany
2,Sport Boat,new boat from stock,0,3.69,1.42,124,CHF,3770,Switzerland
3,Sport Boat,new boat from stock,2020,3.00,1.00,64,DKK,25900,Denmark
4,Fishing Boat,new boat from stock,2019,3.55,1.46,58,EUR,3399,Germany

### Columns were removed due the the missing values. and redundant data

In [60]:
# exporting data
df_boat.to_pickle(os.path.join(path, 'boats_clean.pkl'))